@font-face {
    font-family: "flaticon";
    src: url("flaticon.ttf") format("truetype"),
url("flaticon.woff") format("woff"),
url("flaticon.woff2") format("woff2"),
url("flaticon.eot") format("embedded-opentype"),
url("flaticon.svg") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-header:before {
    content: "\f101";
}
.flaticon-footer:before {
    content: "\f102";
}
.flaticon-slider:before {
    content: "\f103";
}
.flaticon-sidebar:before {
    content: "\f104";
}
.flaticon-sidebar-1:before {
    content: "\f105";
}
.flaticon-menu-1:before {
    content: "\f106";
}
.flaticon-menu-2:before {
    content: "\f107";
}
.flaticon-searching-bar:before {
    content: "\f108";
}
.flaticon-message:before {
    content: "\f109";
}
.flaticon-tabs:before {
    content: "\f10a";
}
.flaticon-vote:before {
    content: "\f10b";
}
.flaticon-website:before {
    content: "\f10c";
}
.flaticon-table:before {
    content: "\f10d";
}
.flaticon-fast-forward:before {
    content: "\f10e";
}
.flaticon-drop-down-list:before {
    content: "\f10f";
}
.flaticon-filter:before {
    content: "\f110";
}
.flaticon-danger:before {
    content: "\f111";
}
.flaticon-list:before {
    content: "\f112";
}
.flaticon-poker-cards:before {
    content: "\f113";
}
.flaticon-social-media:before {
    content: "\f114";
}
.flaticon-category:before {
    content: "\f115";
}
.flaticon-badge:before {
    content: "\f116";
}
.flaticon-pagination:before {
    content: "\f117";
}
.flaticon-chat:before {
    content: "\f118";
}
.flaticon-notification:before {
    content: "\f119";
}
.flaticon-email:before {
    content: "\f11a";
}
.flaticon-file:before {
    content: "\f11b";
}
.flaticon-star:before {
    content: "\f11c";
}
.flaticon-menu-3:before {
    content: "\f11d";
}
.flaticon-smartphone:before {
    content: "\f11e";
}
